.container {
	width: 100%;
	height: 100vh;
	background-color: #000;
	overflow: hidden;
	perspective: 300px;
}

.center-text {
	text-align: center;
}

.like-star-wars {
	position: relative;	
	top: 100%;
	height: 100%;
	
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 500%;
	font-weight: 700;
	line-height: 150%;
	text-align: justify;
	color: yellow;
	
	transform-origin: 50% 100%;
	animation: movement 30s linear infinite;
}

@keyframes movement {
	from {
		top: 100%;
		transform: rotateX(40deg)  translateZ(0);
	}
	to {
		top: -3000px;
		transform: rotateX(45deg) translateZ(-2000px);
	}
}

